.navbar-custom {
    background-color: #fff;
    padding: 1rem;
  }
  
  .logo {
    height: 50px;
    width: 100px;
  }
  
  .nav-link {
    color: #000 !important;
    padding: 0.5rem 1rem !important;
    font-size: 18px !important;
    font-weight: 420 !important;
  }
  
  .nav-link:hover {
    color: #f85c1d !important;
  }
  
  .navbar-toggler {
    border: none;
  }
  

  .navbar-custom .nav-link {
    margin-right: 12px; /* Adjust the value to set the desired gap */
    color: white; /* Optional: Set the color of the links */
  }
  
  .navbar-custom .nav-link:last-child {
    margin-right: 0; /* Remove the margin from the last link */
  }
  
/* navbar.css */
.navbar-custom .nav-link-custom {
  color: #000; /* Default link color */
  text-decoration: none; /* Remove underline */
}

.navbar-custom .nav-link-custom.active {
  color: #f85c1d !important; /* Active link color */
}

.nav-underline {
  position: relative;
  display: inline-block;
  border: none;
  color: #f85c1d;
  font-weight: 500;
  /* padding: 10px 20px; */
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.nav-underline::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  background: #f85c1d;
  bottom: 5px;
  left: 15px;
  transition: width 0.3s ease-in-out;
}

.nav-underline:hover::after {
  width: 65%;
}

#nav-button button:hover{
  background: #174035 !important;
}

#nav-button .hiring-btn:hover{
  color: white !important;
}

@media screen and (max-width: 991px){
  #nav-link a{
    text-align: left;
  }
  .nav-underline:hover::after {
    width: 0;
  }
  #nav-button{
    display: none !important;
  }
  
}

.modal-full-height {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px; /* Adjust width as needed */
  z-index: 1050; /* Adjust as needed */
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-right {
  right: 0 !important;
  top: 0 !important;
  height: 100%;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-left: none;
  border-radius: 0;
}

.modal-right .modal-dialog {
  margin: 0;
}

.modal-right .modal-content {
  border-radius: 0;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .modal-full-height {
    width: 100%;
  }
}
